@font-face {
    font-family: "SFnt";
    src: url(../fonts/TTFirs/TTFirs-ExtraBold.ttf);
}


h2
{
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    font-family: "SFnt";
    font-weight: bold;
}

#slide {
    padding-top: 56px;
    margin: 0;
    background: rgb(124, 141, 158);
    background: linear-gradient(133deg, rgba(124, 141, 158, 1) 0%, rgba(8, 19, 68, 1) 0%, rgba(8, 19, 68, 1) 49%, rgba(0, 3, 13, 1) 100%);
}


.slide_cont {
    margin: 0 auto;
    width: 1400px;
    color: white;
}

/* Первый слайд */

.first_slide {
    margin-top: 53px;
}

.f_sl_txt {
    padding-top: 109px;
    max-width: 584px;
    margin: 0px 200px 150px 0px;
}


/* background: rgb(124,141,158);
background: linear-gradient(90deg, rgba(124,141,158,1) 0%, rgba(26,138,240,1) 0%, rgba(26,143,237,1) 19%, rgba(28,155,231,1) 39%, rgba(31,174,218,1) 63%, rgba(31,179,214,1) 72%, rgba(31,185,210,1) 88%, rgba(32,187,208,1) 100%); */
.f_sl_h1 {
    font-size: 90px;
    background: linear-gradient(90deg, rgba(124, 141, 158, 1) 0%, rgba(26, 138, 240, 1) 0%, rgba(26, 143, 237, 1) 19%, rgba(28, 155, 231, 1) 39%, rgba(31, 174, 218, 1) 63%, rgba(31, 179, 214, 1) 72%, rgba(31, 185, 210, 1) 88%, rgba(32, 187, 208, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 0px;

}

.f_sl_h2
{
    font-size: 47px;

}

.firstslide_parts {
    display: flex;
    flex-direction: row;
}

.f_sl_logo img
{
    padding-top: 40px;
    object-fit: contain;
    transform: scale(130%);
}

